* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: end;
  padding: 20px 0px;
  gap: 20px;
  a {
    font-weight: 500;
    line-height: 100%;
    color: black;
    margin: 0 10px;
  }

  ion-icon {
    animation: icon 3s ease;
    display: none;

    font-size: clamp(0.688rem, 0.492rem + 0.98vw, 1.375rem);
  }

  @media (max-width: 768px) {
    a {
      display: none;
    }
    ion-icon {
      font-size: clamp(1.938rem, 1.742rem + 0.98vw, 2.625rem);
      display: block;
    }
  }
}

@keyframes icon {
  0% {
    transform: translate(50px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.hero {
  .img {
    animation: img 3s ease;
  }
  display: flex;
  justify-content: space-between;
  .text {
    gap: 20px;
    color: rgba(33, 36, 61, 1);
    p {
      line-height: 25px;
      margin: 20px 0px;
    }

    animation: text 3s ease;

    button {
      width: 208px;
      height: 47px;
      border-radius: 5px;
      border: none;
      background-color: rgba(255, 100, 100, 1);
      color: aliceblue;
      animation: btn 3s ease;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .text {
      text-align: center;
      justify-content: center;
      p {
        line-height: 25px;
      }
    }
    img {
      margin-bottom: 30px;
    }
  }
}
@keyframes text {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes btn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes img {
  0% {
    transform: translate(50px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

#cards {
  background-color: rgba(42, 102, 154, 0.758);
  height: 350px;
  margin: 20px 0px;

  .cards {
    .cards-top {
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
      animation: cards-top 3s ease;
    }

    .karty {
      display: flex;
      justify-content: center;
      gap: 40px;
      animation: karty 3s ease;
      .card1 {
        padding: 20px 20px;
        background-color: rgb(255, 255, 255);
        h1 {
          font-size: clamp(0.938rem, 0.718rem + 1vw, 1.625rem);
        }
        .plan {
          font-size: clamp(0.688rem, 0.548rem + 0.64vw, 1.125rem);
          display: flex;
          gap: 20px;
          margin: 10px 0px;
        }
        p {
          font-size: clamp(0.688rem, 0.588rem + 0.46vw, 1rem);
          line-height: 20px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    height: 550px;

    .karty {
      flex-direction: column;
      width: 380px;
      margin: auto;
    }
    .cards-top {
      a {
        display: none;
      }
      p {
        margin: auto;
      }
    }
  }
}
@keyframes cards-top {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes karty {
  0% {
    transform: translateX(50px) rotate(30deg) scale(0.1);
    transform: skew(-45deg);
    opacity: 0;
  }
  100% {
    transform: skew(0deg);
    opacity: 1;
    transform: translateX(0px) rotate(0deg) scale(1);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .list-top {
    animation: list-top 3s ease;
    padding: 20px 0px;
  }
  .list1 {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    animation: list1 3s ease;
    .list-block {
      animation: list-block2 3s ease;
      h1 {
        font-size: clamp(1.813rem, 1.793rem + 0.09vw, 1.875rem);
      }
    }
    .list-2020 {
      display: flex;
      gap: 30px;
      padding: 20px 0px;
      h4 {
        background-color: black;
        border-radius: 10px;
        color: aliceblue;
        text-align: center;
        width: 50px;
        height: 20px;
        font-size: clamp(0.688rem, 0.548rem + 0.64vw, 1.125rem);
      }
      p {
        color: rgba(41, 42, 42, 0.504);
        font-size: clamp(0.688rem, 0.508rem + 0.82vw, 1.25rem);
      }
    }
    .part {
      line-height: 25px;
    }
  }
  .list2 {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    animation: list2 3s ease;
    .list-block {
      animation: list-block1 3s ease;
      h1 {
        font-size: clamp(1.813rem, 1.793rem + 0.09vw, 1.875rem);
      }
    }
    .list-2020 {
      display: flex;
      gap: 30px;
      padding: 20px 0px;
      h4 {
        background-color: black;
        border-radius: 10px;
        color: aliceblue;
        text-align: center;
        width: 50px;
        height: 20px;
        font-size: clamp(0.688rem, 0.548rem + 0.64vw, 1.125rem);
      }
      p {
        color: rgba(41, 42, 42, 0.504);
        font-size: clamp(0.688rem, 0.508rem + 0.82vw, 1.25rem);
      }
    }
    .part {
      line-height: 25px;
    }
  }
  .list3 {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    animation: list3 3s ease;
    .list-block {
      animation: list-block 3s ease;
      h1 {
        font-size: clamp(1.813rem, 1.793rem + 0.09vw, 1.875rem);
      }
    }
    .list-2020 {
      display: flex;
      gap: 30px;
      padding: 20px 0px;
      h4 {
        background-color: black;
        border-radius: 10px;
        color: aliceblue;
        text-align: center;
        width: 50px;
        height: 20px;
        font-size: clamp(0.688rem, 0.548rem + 0.64vw, 1.125rem);
      }
      p {
        color: rgba(41, 42, 42, 0.504);
        font-size: clamp(0.688rem, 0.508rem + 0.82vw, 1.25rem);
      }
    }
    .part {
      line-height: 25px;
    }
  }

  @media (max-width: 768px) {
    .list-top {
      display: flex;
      justify-content: center;
    }

    .list1 {
      align-items: center;

      flex-direction: column;
      .part {
        margin: 20px 0px;
      }

      img {
        width: 80%;
        padding: 20px 0px;
      }
    }
    .list2 {
      align-items: center;

      flex-direction: column;
      .part {
        margin: 20px 0px;
      }

      img {
        width: 80%;
        padding: 20px 0px;
      }
    }
    .list3 {
      align-items: center;

      flex-direction: column;
      .part {
        margin: 20px 0px;
      }

      img {
        width: 80%;
        padding: 20px 0px;
      }
    }
  }
}
@keyframes list-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes list1 {
  0% {
    border-radius: 20px;
    transform: translate(-50px);
    opacity: 0;
  }
  50% {
    border: 10px;
    transform: translate(-25px);
    opacity: 0.5;
  }
  100% {
    border-radius: 0px;
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes list2 {
  0% {
    border-radius: 20px;
    transform: translate(-50px);
    opacity: 0;
  }
  50% {
    border: 10px;
    transform: translate(-25px);
    opacity: 0.5;
  }
  100% {
    border-radius: 0px;
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes list3 {
  0% {
    border-radius: 20px;

    transform: translate(-50px);
    opacity: 0;
  }
  50% {
    border: 10px;

    transform: translate(-25px);
    opacity: 0.5;
  }
  100% {
    border-radius: 0px;
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes list-block {
  0% {
    border-radius: 20px;
    color: rgb(81, 252, 2);
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    border: 10px;
    color: rgb(255, 4, 4);
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    border-radius: 0px;
    color: rgb(0, 0, 0);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes list-block1 {
  0% {
    border-radius: 20px;
    color: rgb(81, 252, 2);
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    border: 10px;
    color: rgb(255, 4, 4);
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    border-radius: 0px;
    color: rgb(0, 0, 0);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes list-block2 {
  0% {
    border-radius: 20px;
    color: rgb(81, 252, 2);
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    border: 10px;
    color: rgb(255, 4, 4);
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    border-radius: 0px;
    color: rgb(0, 0, 0);
    transform: translateY(0px);
    opacity: 1;
  }
}

footer {
  animation: footer 10s ease;
  text-align: center;
  margin: 80px 0px;
  p {
    padding: 20px 0px;
  }
  .logo {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

@keyframes footer {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(-25px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
